<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main}">
  <head>
    <title>Products</title>
  </head>

  <body>
    <div layout:fragment="content">
      <h2 class="mb-3">Product List</h2>

      <a href="/addProduct" class="btn btn-success mb-3">Add Product</a>

      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="p : ${products}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.quantity}"></td>
            <td
              th:text="${#temporals.format(p.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
            <td>
              <a
                th:href="@{/deleteProduct(id=${p.id})}"
                class="btn btn-danger btn-sm"
                onclick="return confirm('Are you sure?');">
                Delete
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
